node_modules/
dist/
build/
.env
.env.local
*.log
.DS_Store
coverage/
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Pact
logs/
pacts/*.json
!pacts/.gitkeep

!frontend/react-app/src/lib